﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1></h1>
       
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Users","Index","Users")</h2>
        
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Devices", "Index", "Devices")</h2>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("UserToDevices", "Index", "UserToDevices")</h2>
    </div>
</div>