﻿@model DeviceMang.Models.Device

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Device</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Os)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Os)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OSversion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OSversion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proccesor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proccesor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RAM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RAM)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdDevice }) |
    @Html.ActionLink("Back to List", "Index")
</p>
