﻿@model IEnumerable<DeviceMang.Models.Device>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Manufacturer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Os)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OSversion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Proccesor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RAM)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Manufacturer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Os)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OSversion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Proccesor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RAM)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdDevice }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdDevice }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdDevice })
        </td>
    </tr>
}

</table>
